body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.horizontal {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.vertical {
    display: flex;
    height: 100%;
    flex-direction: column;
}

#top-link-container {
    flex-shrink: 0;
    flex-grow: 0;
}

#word-container {
    flex-shrink: 0;
    flex-grow: 0;
}

#dict-link {
    font-size: small;
    color: #6a6a6a;
    line-height: 1rem;
}

#random-link {
    font-size: x-large;
    color: #6a6a6a;
    text-decoration: none;
    line-height: 3.5rem;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 0.4rem;
}

#lookup-container {
    width: 20em;
    height: 100%;
    overflow: hidden;
    border-right: thin solid gray;
    background: lightgray;
    flex-grow: 0;
    flex-shrink: 0;
}

#word {
    flex-shrink: 1;
    flex-grow: 1;
    font-size: medium;
    margin: 0.4rem;
    padding: 0.4rem;
}

#header-title {
    flex: 1;
    font-weight: bold;
    margin: 0.4rem;
    margin-top: 0.6rem;
}

#dictionary-style {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    padding: 0.4rem;
}

#content-header {
    font-size: 130%;
    border-bottom: thin solid gray;
    background: lightgray;
}

#content {
    border: 0;
    width: 100%;
}

#content-container {
    flex: 1;
}

#lookup-result {
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    bottom: 0;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

li a {
    text-decoration: none;
    padding: 0.5rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin-left: -0.5rem;
    color: #3a3a3a;
    width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

li a:hover {
    background: darkgray;
}

.whos-next-status-label-up {
    color: darkgreen;
}

.whos-next-status-label-not_here {
    color: red;
}
